//响应式修改
@media (max-width: 419px){
.home-blog .home-blog-wrapper .info-wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    overflow: hidden;
    transition: all .3s;
    margin-left: 15px;
    flex: 0 0 300px;
    height: auto;
    box-shadow: var(--box-shadow);
    border-radius: .25rem;
    box-sizing: border-box;
    padding: 0 15px;
    background: var(--background-color);
    margin-top: 20px;
    }
}
@media (max-width: 719px){
    .home-blog .home-blog-wrapper .info-wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    overflow: hidden;
    transition: all .3s;
    margin-left: 15px;
    flex: 0 0 300px;
    height: auto;
    box-shadow: var(--box-shadow);
    border-radius: .25rem;
    box-sizing: border-box;
    padding: 0 15px;
    background: var(--background-color);
    margin-top: 20px;
    }
    }